body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.profile-info, .edit-info {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    color: #0659b1d3;
}

.edit-button {
    background-color: #0659b1d3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button.edit-button:hover {
    background-color: #093d68;
}


.edit-info {
    display: none;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.save-button {
    background-color: #0659b1d3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button.save-button:hover {
    background-color: #093d68;
}
button.go-back-button {
    background-color: #0659b1d3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button.go-back-button:hover {
    background-color: #093d68;
}
